html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: url("coffee.jpg");
    background-size: cover;
}
img{
    width: 35px;
    position: absolute;
    cursor: pointer;
}